.metamask
{
    margin-top: 5%;
    margin-bottom: 5%;
}
.metamask h1
{
    font-family: 'Headhunter';
    color: rgb(224, 240, 255);
}
.metamask h4
{
    background-color: rgb(224, 240, 255);;
}
.metamask h3
{
    font-family: 'Headhunter';
    color: rgb(224, 240, 255);
}