.laboratory.container-fluid, .laboratory-potion, .mint-egg.container-fluid{
    background-image: url(bg-lab.jpeg) !important;
    overflow-y: overlay;
}

.laboratory .sk-container{
    justify-content: flex-start;
}