@font-face {
    font-family: 'Headhunter';
    src: url('../../utils/HeadhunterRegular-6Y1x.ttf')  format('truetype');
    font-weight: bold;
    };
    @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

    *::-webkit-scrollbar {
        width: 12px;
      }
      
      *::-webkit-scrollbar-track {
        background: white;
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: blue;
        border-radius: 20px;
        border: 3px solid white;
      }


.tavern{
    margin-top: 1%;
    background-image: url(tavern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 10%;
    padding-top: 5%;
}
.container
{
  border-radius: 15px;
    background:rgba(13, 16, 63, 0.562);
}
.tavern .head
{
  padding-top: 3%;
  margin-bottom: 3%;
}
.tavern .div-skull
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 1%;
    width: 20vh;
    height: 25vh;
    border: 3px solid rgb(252, 247, 0);
    margin-top: 3%;
    margin-bottom: 3%;
}
.tavern .div-skull span
{
    margin: 5%;
}
.tavern .div-skull .d-flex
{
    margin: 3%;
    margin-top: 82%;
}
.tavern .div-skull .d-flex button
{
   font-size: 0.75vh;
}
.tavern .selected{
  border: #00c231 3px solid;
  border-image: linear-gradient(
    var(--rotate)
    , #805dff, #3ccfe3, #00c231);
    animation: spin 2.5s linear infinite;
    border-image-slice: 3;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.tavern .div-button button
{
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}