@font-face {
  font-family: 'Headhunter';
  src: url('../../utils/HeadhunterRegular-6Y1x.ttf') format('truetype');
  font-weight: bold;
};
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.adventure ::-webkit-scrollbar {
  width: 12px
}

.adventure ::-webkit-scrollbar-thumb {
  background: rgb(45, 4, 226);
}

.adventure ::-webkit-scrollbar-track {
  background: transparent
}

.icon-container {
  margin-right: 10px;
}

.adventure {
  background-image: url(ice-bonefire.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 10%;
  min-height: 90vh;
}

.adventure .head {
  padding-top: 3%;
  margin-bottom: 3%;
}

.adventure .div-skull {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(252, 247, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.adventure .skull-button svg{
  margin-right: 6px;
}

.retire-button{
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #fff !important;
}

.adventure .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
}

.adventure .col-sm-3{
  padding: 6px !important;
}

.adventure .div-skull span {
  margin: 5%;
}

.retire-button{
  color: #fff !important;
  font-size: 14px;
  padding: 3px 12px !important;
  border-radius: 6px !important;
}

.retire-button:hover{
  background: #b6403c !important;
}

.adventure .selected {
  border: #00c231 3px solid;
  border-image: linear-gradient(var(--rotate), #805dff, #3ccfe3, #00c231);
  animation: spin 2.5s linear infinite;
  border-image-slice: 3;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.adventure .skulls-container {
  border-radius: 15px;
  background: rgba(13, 16, 63, 0.562);
}

.adventure .details-container {
  text-align: center;
  margin-top: 1%;
}

.adventure #dungeon-icon {
  color: #00c231;
}

.adventure .season-container {
  text-align: left;
  margin-top: 1%;
}

.metrics-icon{
  color: #C2A4FD;
  margin-right: 12px;
}

.metrics-container {
  padding: 6px 12px;
  margin: 12px 0px;
  background: #151226A3;
  border-radius: 12px;
}

.metric-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 0%;
}

.progress-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 6px 0px;
}

.progress-bar, .progress {
  border-radius: 12px;
}

.progress-container {
  width: 100%;
}

.adventure #burn-icon {
  color: #c20000;
}

.adventure .claim-button {
  width: 100%;
  border-radius: 12px;
  color: black;
  margin-top: 6px;
  font-size: 18px;
}

.adventure .data-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 12px;
  background: rgba(13, 16, 63, 0.562);
  padding: 12px;
}

.adventure .container {
  border-radius: 15px;
  background: rgba(13, 16, 63, 0.562);
}

.adventure .div-button .retire-button {
  position: initial;
  margin: 0px;
  margin-top: 12px;
  background-color: #b6403c;
}

.adventure .div-button {
  padding: 12px 0px;
  display: flex;
  column-gap: 6px;
}

@media (min-width:320px) and (max-width: 640px)  {
  .adventure .boxed {
    flex-direction: column-reverse !important;
    width: 100% !important;
    row-gap: 60px;
    margin: 30px 0px;
  }
  .adventure .skulls-container, .adventure .details-container {
    width: 100% !important;
    max-width: 100% !important;
  }
}