.merchant {
  background-image: url(merchant.png);
  justify-content: center !important;
}
.merchant .sk-row{
  max-width: 728px;
}
.merchant-egg {
  width: 130%;
  margin-bottom: -80px;
  transition: transform 1.6s ease 0s;
  transform: translateX(0);
}
.trip{
  transform: translateX(200%);
}

@media (min-width:320px) and (max-width:640px) { 
  .container-fluid.merchant{
    max-height: 100% !important;
    height: 100% !important;
  }
}