.container-fluid.merchant {
  background-image: url(bg-merchant.jpeg);
  justify-content: center !important;
}
.merchant .sk-row{
  max-width: 728px;
}
.merchant-egg {
  width: 130%;
  margin-bottom: -80px;
  transition: transform 1.6s ease 0s;
  transform: translateX(0);
}
.trip{
  transform: translateX(200%);
}
.pet-egg-thumb{
  max-width: 100%;
  border-radius: 6px;
  display: none;
}


@media (min-width:320px) and (max-width:640px) { 
  .container-fluid.merchant{
    max-height: 100vh !important;
    height: 100% !important;
  }
  .trip {
    display: none;
  }
  .merchant .sk-box{
    overflow-y: overlay;
    max-height: 85vh;
  }
  .pet-egg-thumb{
    display: inline;
  }
  .merchant-egg{
    display: none;
  }
}