@media (min-width:320px) and (max-width:640px) {
    .adventure-image{
        width: 100%;
    }
    .adventure .sk-flex.sk-row{
        flex-direction: column-reverse !important;
    }
    .container-fluid.adventure {
        max-height: 100%;
        padding: 0px 0px !important;
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 30px;
        background-position: left;
    }
    .metric-container.vertical {
        flex-direction: row !important;
        align-items: center !important ;
    }
}
.first.show{
    border-top-left-radius: 0px;
}
.switcher-button {
    padding: 3px 18px;
    border: none;
    background: transparent;
    color: var(--white);
    opacity: 0.7;
    transition: all .4s ease;
}

.switcher-button.active {
    opacity: 1;
    background: var(--violet);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.first.show {
    border-top-left-radius: 0px;
}

.switcher-button.active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.7;
    bottom: 0;
    height: 100%;
    background: var(--violet);
    z-index:0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.adventure-image {
    padding: 15px 25px;
}
.container-fluid.adventure{
    background-image: url(bg-adventure.jpeg);
}
.adventure .details{
    overflow-y: overlay;
    -ms-overflow-style: none; 
    scrollbar-width: none; 

}
.adventure .details::-webkit-scrollbar {
    display: none;
}
.metrics-icon {
    color: #C2A4FD;
    margin-right: 12px;
}

.metrics-container {
    padding: 6px 12px;
    margin: 12px 0px;
    background: #16112d;
    border-radius: 12px;
}

.metric-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0%;
    position: relative;
}

.metric-container.vertical {
    flex-direction: column;
    align-items: flex-start;
}

.metric-icon{
    display: flex;
    column-gap: 6px;
    flex-direction: row;
}

.positive {
    color: var(--green);
}

.negative {
    color: var(--red);
}

.progress-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 6px 0px;
    column-gap: 12px;
}

.progress-bar,
.progress {
    border-radius: 12px;
}

.progress-container {
    width: 100%;
}

.adventure #burn-icon {
    color: #c20000;
}

.adventure .claim-button {
    width: 100%;
    border-radius: 12px;
    color: black;
    margin-top: 6px;
    font-size: 18px;
}

 .data-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 12px;
    background: rgb(34 27 71);
    padding: 12px;
}

.adventure .container {
    border-radius: 15px;
    background: rgba(13, 16, 63, 0.562);
}

.sk-box-content.hide{
    display: none;
}

.switcher-wrapper{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.adventure .view-button{
    color: #fff;
}