@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

input::-webkit-input-placeholder {
  font-size: 1rem;
}

.adminDash {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: top;
}

.croSkulls-main, .page-wrapper{
  height: 100%;
}

.skullMetadata{
  padding: 16px 12px !important;
  margin: 12px 8px !important;
  font-family: 'Special Elite', cursive;
}

#root {
  min-height: 100vh;
}

.border-shadow{
  border: 1px solid #193d71 !important;
  -webkit-box-shadow: 2px 3px 19px -3px #193D71;
  box-shadow: 2px 3px 10px -3px #152742;
  border-radius: 8px;
  color: #fff !important;
  background: transparent !important;
  background-color: transparent;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  padding: 10px;
}

.toggleContainer > label {
  padding: 0;
  margin: 0;
}

input[type="color"]:hover {
  cursor: pointer;
}
.navbar{
  background-color: #111;
}
.NFT-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.site-logo{
  height: 50px;
}
.card-body{
  justify-content: space-between;
}

.spaced{
  column-gap: 10px;
}

b, label{
  font-weight: 600 !important;
}

.col-md-6{
  row-gap: 20px;
}

.mint-action {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
}

.vertical{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cost-value{
  font-size: 26px;
  color: #000;
}

.mint-wrapper{
  padding: 25px;
}

.toogle-button {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #fff;
}

.filterBar {
  align-items: center;
}