.contractInfo{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skullContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between
}
.skullItem {
    margin: 8px;
    padding: 8px;
}


.skullItem-details{
    padding: 10px;
}