:root{
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
}
.evo-card{
  margin: auto;
  width: 100%;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
           #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  padding: 18px;
  border-radius: 12px;

}
/*
.evo-card:hover::after{
  content: "";
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background: var(--shine-effect);
  display: none;
}*/
.evo-card:hover{
  filter: brightness(1.5);
}
.evo-card .card-img{
  position: relative;
}
.evo-card img{
  width: 100%;
  border-radius: 12px;
}
.evo-card #skull-icon{
  width: 10%;
  border-radius: 0px;
}
.evo-card #rank{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  color: black;
}
.evo-card #id{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: black;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 2px;
}
.evo-card #lvl{
  display: flex;
  color: black;
  background-color: aliceblue;
  height: 3vh;
  width: 3vh;
  font-size: 2em;
  transform: translatey(-2vh);
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
}
.evo-card #malus{
  position: absolute;
  bottom: 15%;
  left: 5px;
  color: black;
  background-color: rgba(240, 248, 255, 0.267);
  width: auto;
  padding: 1px;
  border-radius: 2px;
}
.evo-card .evocard-stat{
  margin-top: -10%;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; 
}
.evocard-row{
  display: flex;
  flex-direction: row;
}
.evo-card .wd-48{
  min-width: 48%;
}
.evo-card .wd-48 span{
  float: right;
}
.evo-card #power{
  margin-right: 2%;
  color: orange;
}
.evo-card #stamina{
  margin-left: 2%;
  color: rgb(54, 206, 54);
}
.evo-card .evo-stat{
  padding: 2%;
  margin: 2%;
  position: relative;
}
.evo-stat #str{
  color: red;
}
.evo-stat #dex{
  color: rgb(0, 255, 234);
}
.evo-stat #const{
  color: rgb(0, 163, 41);
}
.evo-stat #int{
  color: rgb(127, 80, 255);
}
.evo-stat #wisd{
  color: rgb(161, 0, 161);
}
.evo-stat #char{
  
  color: rgb(255, 196, 0);
}
.evo-stat #logo{
  border: 0;
  position: absolute;
  width: 50%;
  align-self: center;
  left: 25%;
  top: 5%;
  opacity: 0.2;
}
.evo-card .wd-80{
  min-width: 80%;
  margin-top: auto;
  margin-bottom: auto;
}
.evo-card .wd-20{
  min-width: 20%;
}
.evo-card .progress-bar, .progress{
  border-radius: 2px !important;
}

 .white{
  background-color: rgba(240, 248, 255, 0.432) !important;
}
 .green{
  background-color: #1B977E !important;

}
 .purple{
  background-color: rgba(108, 0, 250, 0.432) !important;
}
/*flip*/
.card-container {
  position: relative;
  perspective: 1000px;
  width: 100%;
  margin: auto;
}
.card2 {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  position: relative;
}
.card2:hover {
  transform: rotateY(180deg);
}
.card2 .side {
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;

  visibility:visible;
  backface-visibility: hidden;
}
.card2 #back {
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  width: 150px;
}
.card2 #back .evo-card{
  width: 100%;
  height: 100%;
  
}
.card2 #back .evo-card div{
  width: 100%;
  height: 100%;
  background-image: url('./Rank/greenBg.png');
  background-size: cover;
  border-radius: 12px;
}

@media (min-width:320px) and (max-width:640px) {
  .card-container{
    margin: auto;
    width: 100%;
  }
  .evo-card #lvl{
    height: 5vh;
    width: 5vh;
    font-size: 2em;
    transform: translatey(-3.5vh);

  }
  .evo-card .sk-row{
    flex-direction: row;
  }
  .evo-card .skull-icon{
    width: auto;
  }
  .card2 #back {
    left: 0;
  }

}