
.evo-container {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 20px -3px rgba(140, 36, 255, 0.25);
  box-shadow: 0px 5px 20px -3px rgba(140, 36, 255, 0.25);
  position: relative;
  max-width: 280px;
  background: var(--purple-bg);
  border-radius: var(--radius);
  color: #fff;
  border: 1px solid #ffffff30;
}
.card-image-container {
  position: relative;
}
.card-image-container:before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0;
  left: 0;
}
.card-image-container:hover:before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(40, 40, 40, 0.5) 100%
  );
}
.evo-image {
  width: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  overflow: clip;
}

.card-details {
  position: relative;
}
.card-info {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 9px;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -20px;
  height: 35px;
}
.card-info:before {
  content: "";
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://analytics.croskull.com/brush-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -20px;
  filter: grayscale(0.9);
}
.card-exp-after {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 9px;
  z-index: 9999;
  width: 90%;
  top: 0;
  left: 0;
  height: 35px;
  background: url(https://analytics.croskull.com/brush-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -20px;
  z-index: 0;
}
.card-level {
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 20px;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  z-index: 1;
}
.card-level:after {
  content: "";
  position: absolute;
  transform: rotate(128deg);
  height: 44px;
  width: 44px;
  background: url(https://analytics.croskull.com/level-brush.svg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0%) saturate(100%) invert(43%) sepia(67%) saturate(876%)
    hue-rotate(222deg) brightness(102%) contrast(104%);
}
.card-level:before {
  content: "";
  position: absolute;
  background: var(--purple-bg);
  width: 40px;
  height: 40px;
  z-index: -1;
  border-radius: 100%;
}
.card-exp {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  right: 0;
  z-index: 1;
  padding-right: 7px;
  font-size: 12px;
}

.card-rank {
  position: absolute;
  top: 6;
  right: 0;
  color: #fff;
  margin: 6px;
  border-radius: 15px;
}

.card-rank img {
  width: 28px;
}
.card-stats-container {
  padding: 9px;
  padding-top: 15px;
}
.card-stats {
  display: flex;
  flex-direction: row;
}
.card-stats .vertical {
  position: relative;
  flex-direction: column;
  align-items: center;
}
.card-stats .vertical .stat {
  width: 100%;
  display: flex;
  row-gap: 6px;
  flex-direction: column;
  background: none !important;
}
.card-stats .vertical .stat-icon {
  width: 28px;
}
.card-stats .vertical .stat-value {
  font-size: 22px;
}
.stat-list {
  border-radius: 6px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 6px;
  column-gap: 6px;
}
.stat {
  position: relative;
  max-width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 9px;
  border-radius: 6px;
  background: var(--purple-bg-light);
}
.stat-icon {
  width: 22px;
}
.stat-tooltip,
.stamina-tooltip {
  transform: scale(0);
  font-size: 12px;
  position: absolute;
  top: -12px;
  padding: 3px 9px;
  background: #111;
  border-radius: 6px;
  transition: transform 0.2s ease;
}
.stat:hover .stat-tooltip,
.card-level:hover + .stat-tooltip,
.stamina-bar:hover .stamina-tooltip {
  transform: scale(1);
  z-index: 999;
}
.stamina-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 9px;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 6px;
}
.stamina-bar span {
  font-size: 12px;
}
.stamina-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 3px;
}
.stamina-bar-container span {
  width: 100%;
  height: 4px;
  box-shadow: inset 0px 0px 10px 1px rgb(184 117 255 / 40%),
    0px 0px 20px rgb(179 117 255 / 10%);
}
.stamina-bar-container span.active {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 0px 10px 2px rgb(160 117 255 / 50%),
    0px 0px 20px rgb(157 117 214 / 50%);
}

.levelup-icon, .upgrade-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.levelup-icon {
  background: url(https://analytics.croskull.com/levelup.svg);
}
.upgrade-icon {
  background: url(https://analytics.croskull.com/add-exp.svg);
}
/*flip*/
.card-container {
  position: relative;
  perspective: 1000px;
  width: 100%;
  margin: auto;
}
.card2 {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  position: relative;
}
.card2:hover {
  transform: rotateY(180deg);
}
.card2 .side {
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;

  visibility:visible;
  backface-visibility: hidden;
}
.card2 #back {
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  width: 150px;
}
.card2 #back .evo-card{
  width: 100%;
  height: 100%;
  
}
.card2 #back .evo-card div{
  width: 100%;
  height: 100%;
  background-image: url('./Rank/greenBg.png');
  background-size: cover;
  border-radius: 12px;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  justify-content: space-between;
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid #ffffff50;
  font-size: 10px;
  opacity: 0.7;
  text-align: center;
}
.stamina-bar-wrapper{
  position: relative;
}
.evo-claim-button {
  width: 18px;
}

/** PETS */

.evo-container.pet {
  background: var(--red-bg);
}
.evo-container.pet .stat {
  background: var(--red-bg-light);
}
.evo-container.pet .stamina-bar-container span.active {
  box-shadow: inset 0px 0px 10px 2px rgb(255 117 117 / 50%),
    0px 0px 20px rgb(214 117 117 / 50%);
}
.evo-container.pet .stamina-bar-container span {
  box-shadow: inset 0px 0px 10px 2px rgb(255 117 117 / 40%),
    0px 0px 20px rgb(214 117 117 / 10%);
}
.pet .card-exp-after {
  filter: brightness(0%) saturate(100%) invert(77%) sepia(75%) saturate(5917%)
    hue-rotate(325deg) brightness(98%) contrast(121%);
}
.pet .card-level:after {
  filter: brightness(0%) saturate(100%) invert(77%) sepia(75%) saturate(5917%)
    hue-rotate(325deg) brightness(98%) contrast(121%);
}
.upgrade-icon .tooltip {
  position: absolute;
  transform: scale(0);
  top: -20px;
  right: 20px;
  background: #111;
  padding: 3px 9px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
}
.upgrade-icon:hover .tooltip {
  transform: scale(1);
}
.pet .card-level:before {
  background: var(--red-bg);
}
:root {
  --radius: 10px;
  --purple-bg: #150c1f;
  --purple-bg-light: hsl(267deg 100% 79% / 10%);
  --red-bg: #220c0c;
  --red-bg-light: hsl(267deg 100% 79% / 10%);
  --purple: #9e6cff;
}
