.bank {
  background-image: url(bg-bank.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  margin: 0 !important;
}

.bank .gd-container {
  margin: 12px 0px;
  display: flex;
  flex-direction: row;

}
.gd-container .sk-box{
  width: 100%;
}

.details-value {
  font-size: 18px;
  font-weight: 600;
}

.bank .global-container {
  position: relative;
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/*GLOBAL DATA CSS*/
.bank .bank-gd-row {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.bank .bank-gd-box {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 18px;
  margin: 12px;
  border-radius: 12px;
  background-color: var(--violet);
  backdrop-filter: blur(30px);
  border: 1px solid #16112d26;
  -webkit-box-shadow: 3px 2px 23px 2px rgba(89, 2, 250, 0.29);
  box-shadow: 3px 2px 23px 2px rgba(132, 0, 255, 0.29);
  width: 100%;
  text-align: center;
}

.bank .bank-gd-box:hover {
  box-shadow: 3px 2px 23px 2px rgba(132, 0, 255, 0.753);
}

.bank .switcher-wrapper {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around center;
  align-items: center;
  text-align: center;
}

.bank .switcher-button{
  font-weight: 700;
  font-size: 18px;
}
.bank .switcher-container {
  width: 100%
}
.bank .switcher-container > .sk-box {
  margin-top: 0px;
}

.bank .pool-content {
  padding: 12px;
  background: var(--violet);
  transition: 1s;
}

/*RIGHE CON I DATI CSS*/

.bank label{
  display: flex;
  flex-direction: column;
}
.bank .data-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 6px 0px;
  background-color: var(--dark-violet);
  border-bottom: 1px solid rgb(67, 0, 192);
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
}

.bank .bank-name {
  text-align: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: left;
  column-gap: 9px;
}

.bank .bank-name h1 {
  color: white;
  size: 1vh;
}

.bank .bank-name h3 {
  color: rgb(219, 219, 219);
  font-size: 12px !important;
}

.bank .bank-name-img img {
  max-width: 50px;
}

.bank .bank-name-text {
  text-align: left;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.bank .data-row-box {
  text-align: center;
}

/*DATA CONTAINER*/
.bank .data-container {
  background-color: rgba(67, 0, 192, 0.712);
  padding: 20px;
  transition: all 1s;
  width: 100% !important;
}
.contract-details.sk-box-content {
  align-items: center;
  column-gap: 2vw;
}
.bank .claim-button {
  min-width: 120px;
}
.bank .data-container-wrapped {
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
  transition: all 1s;
}

.bank .data-box {
  width: 50%;
  margin: auto;
}

.bank .data-box span {
  float: right;
}

.bank .data-box hr {
  border-top: 1px solid aliceblue;
  width: 100%;
}

.bank .data-box-content {
  display: flex;
  flex-direction: column;
}

.bank .input-content {
  margin: auto;
  background-color: rgb(41, 41, 41);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.bank .balance {
  text-align: right;
  margin-bottom: 1px;
}

.bank .input-content input {
  text-align: right;
  float: right;
  background-color: rgb(41, 41, 41);
  color: white;
  border-width: 0px;
  border: none;
  outline: none;
}

.bank .input-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bank .wishbones::-webkit-inner-spin-button {
  -webkit-appearance: auto !important;
  margin: 0;
}

.bank .stake-button {
  background-color: var(--green);
  margin-top: 10px;
}

.bank .claim-button {
  background-color: var(--yellow);
  margin-top: 10px;
}

.bank .unstake-button {
  background-color: var(--red);
  margin-top: 10px;
}

.bank .disabled-button {
  background-color: rgba(75, 75, 75, 0.562);
  margin-top: 10px;
  font-size: 14px;
  padding: 4px 12px !important;
  border-radius: 6px !important;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: transform .54s cubic-bezier(0, .52, .47, .98) 0s;
  color: aliceblue;
  cursor: not-allowed;
}

.bank .bank-icon {
  width: 1%;
}

.bank .pool-content .first {
  border-radius: 6px 6px 0px 0px;
}

.bank .pool-content .data-row-last {
  border-radius: 0px 0px 6px 6px;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  margin: 0;
}

.bank .pool-content .data-row-last p {
  margin: auto;
  text-align: center;
}

/*BOX SCELTA CONTRATTO*/
.bank .choise-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: var(--violet);
  backdrop-filter: blur(30px);
  border: 1px solid #16112d26;
  -webkit-box-shadow: 3px 2px 23px 2px rgb(0 0 0 / 29%);
  box-shadow: 3px 2px 23px 2px rgb(0 0 0 / 29%);
  margin-bottom: 20px;
}

.bank .simulate-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bank .simulate-container {
  padding: 12px;
  display: flex;
  min-width: 15%;
  flex-direction: column;
  justify-content: stretch;
}

.bank .simulate-container input {
  margin-bottom: 10px;
}

.bank .simulate-container p {
  margin: 0;
}

.bank .contract-container {
  width: 100%;
  overflow-x: hidden;
}

.bank .contract-content {
  width: 100%;
  height: fit-content;
  display: -webkit-box;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: overlay;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.bank .contract-box {
  flex: 1 1 20%;
}

/*BOX CONTRATTO*/
.bank .contract-box h1 {
  text-align: center;
}

.bank .contract-box h3 {
  margin: 10px !important;
  font-size: 2vh;
}

.bank .contract-box button {
  width: 100%;
}

.pool-container {
  background-color: rgba(67, 0, 192, 0.712);
  padding: 20px;
  transition: 1s;
}

/*FARM CSS*/
.bank .farm-content {
  padding: 12px;
  background: var(--violet);
  transition: 1s;
}

.farm-container {
  background-color: rgba(30, 27, 36, 0.712);
  padding: 20px;
  transition: 1s;
}

.bank .farm-box {
  width: 25%;
  margin: auto;
}

.bank .farm-box h1 {
  text-align: center;
}

.bank .farm-box h3 {
  margin-top: 20px !important;
}

.bank .farm-box button {
  margin-top: 10%;
}

.bank .farm-box span {
  float: right;
}

.bank .farm-box img {
  margin-top: -10%;
}

/*CSS MOBILE*/
@media (min-width:320px) and (max-width:640px) {
  .contract-details.sk-box-content{
    flex-direction: column;
  }
  .bank .sk-row.sk-flex {
    flex-direction: column;
  }
  .bank .choise-container{
    flex-direction: column;
  }
  .gd-container .sk-box{
    width: auto;
    flex: 1;
  }

  .skull-button{
    width: 60%;
  }

  .bank .data-container {
    width: 100%;
    overflow-y: auto;
  }

  .bank .global-container {
    width: 100%;
  }

  .bank .pool-content {
    width: 100%;
  }

  .bank .data-row-box {
    width: 25%;
  }

  .bank .only-d {
    visibility: hidden !important;
    width: 0% !important;
    height: 0%;
  }

  .bank .angle {
    width: 10% !important;
  }

  .bank .bank-name h1,
  .bank .bank-name h3 {
    text-align: center;
  }

  .bank .data-box {
    width: 100%;
  }

  /*simulate container*/
  .bank .simulate-container {
    width: 100%;
  }
  .gd-container {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .bank .contract-box {
    flex: 1 1 85%;
  }

  .bank .contract-content::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
  }

  .bank .farm-box {
    width: 100%;
    margin: auto;
  }
}